.display-1 {
	text-align: center;
	padding: 1em 0.75em 0.25em 0.75em; 
	font-size: 150%;
}
.display-2 {
	font-size: 125%;
	text-align: center;
	margin: 1em;
}
.display-3 {
	margin: 0 1em 1em 1em;
	font-size: 125%;
	text-align: justify;
}
.display-4 {
	margin: 1em 0 1em 0; 
	color: white; 
	font-size: 100%
}
.carousel-inner img {
	width: 100%; 
	height: 250px; 
	object-fit: cover;
}
.carousel-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px black;
}
#heading {
	font-size: 300%;
}
#headingcaption {
	padding: 0.5em;
	font-size: 100%;
}
.textsection {
	background-color: #e3e3e3;
	padding-bottom: 0.5em;
}
.format .row, .imageformat .row {
	margin: 0.25em;
	padding: 0.25em;
}
.format .col-sm {
	margin: 1em;
	padding: 1em;
	background-color: #e3e3e3;
}
.format .col-lg, .imageformat .col-lg {
	margin: 1em;
	padding: 1em;
	background-color: #e3e3e3;
}
.col-lg img, .col-sm img{
	width: 100%;
}
.format figure, .imageformat figure {
	object-fit: cover;
	text-align: center;   
	transition: all 0.25s ease-out 0.25s;
}
.imageformat figcaption {
	margin-top: 0.75em;
	font-weight: bold;
	font-size: 1em;
}
.format figcaption {
	margin-bottom: 1em;
	font-weight: bold;
	font-size: 120%;
}
#tabledesktop {
	display: none;
}
#tablemobile img {
	width: 100%;
	height: 250px;
	object-fit: cover;
}
#select {
	margin: 1em 0em 0.5em 1em;
	width: 40%;
}
.form-inline label {
	margin: 1em 0em 0.5em 1em;
}
.form-inline button {
	margin: 1em 1em 0.5em 1em;
}
.format .row:after {
	content: "";
	display: table;
	clear: both;
}
.sliderow img {
	float: left;
	width: 12.5%;
	object-fit: cover;
}
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 200px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
}
.modal-content {
	position: relative;
	background-color: black;
	margin: auto;
	width: 90%;
}
.close {
	color: white;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
}
.close:hover, .close:focus {
	color: #999;
	text-decoration: none;
	cursor: pointer;
}
.mySlides {
 	display: none;
}
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
.mySlides div {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
.mySlides img {
	width: 100%;
	object-fit: cover;
}
.caption-container {
	text-align: center;
	background-color: black;
	padding: 2px 16px;
	color: white;
}
.demo {
 	opacity: 0.6;
}
.active, .demo:hover {
 	opacity: 1;
}
img .hover-shadow {
	transition: 0.3s;
}
.hover-shadow:hover {
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
thead {
	text-align: center;
}
tbody img {
	padding-top: 1em;
	padding-bottom: 1em;
}
footer {
	background-color: #007bff;
	color: white;
	text-align: center;
	padding: 1em;
}